PORT=3333
MONGO_URI=mongodb://db:27017/watchlist # local fallback
JWT_SECRET=super_jwt_scret_key_super_jwt_scret_key_super_jwt_scret_key
PUBLIC_SUPABASE_URL=https://<something_supabase_generated>.supabase.co/
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_<supabase_generated>
SUPABASE_STORAGE_BUCKET=avatar-bucket